@use "sass:map";

$breakpoints: (
  mobile: 1199px,
  tablet: 1425px,
  desktop: 1600px,
);

// Media Queries
$mobile: "(max-width: #{map.get($breakpoints, mobile)})";
$tablet: "(min-width: #{map.get($breakpoints, mobile) + 1}) and (max-width: #{map.get($breakpoints, tablet)})";
$desktop: "(min-width: #{map.get($breakpoints, tablet) + 1})";

// Variablen
$pageWidth: map.get($breakpoints, tablet);
$sidePanelWidth: 320px;
$topSpacing: 6rem;
$boldWeight: 700;
$semiBoldWeight: 600;
$normalWeight: 400;

$mobileBreakpoint: 600px;
$tabletBreakpoint: 1000px;
$fullPageWidth: $pageWidth + 2 * $sidePanelWidth;
