@use "sass:map";

$breakpoints: (
  mobile: 1425px,
  desktop: 1426px,
);

// Media Queries
$mobile: "(max-width: #{map.get($breakpoints, mobile)})";
$desktop: "(min-width: #{map.get($breakpoints, desktop)})";

// Variablen
$pageWidth: map.get($breakpoints, mobile);
$sidePanelWidth: 320px;
$topSpacing: 6rem;
$boldWeight: 700;
$semiBoldWeight: 600;
$normalWeight: 400;

$mobileBreakpoint: 600px;
$tabletBreakpoint: 1000px;
$fullPageWidth: $pageWidth + 2 * $sidePanelWidth;

